@model IEnumerable<WebApplication2.Models.Agentes>

@{
    ViewBag.Title = "Agentes";
}

<h2>Lista de Agentes</h2>

<p>
    @Html.ActionLink("Adicionar novo Agente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquadra)
        </th>
        <th></th>
    </tr>

@foreach (var aa in Model) {
    <tr>
        <td>
            <a href="~/imagens/@aa.Fotografia" target="_blank">
                <img src="~/imagens/@aa.Fotografia" width="50" height="37" />
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => aa.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => aa.Esquadra)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=aa.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=aa.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=aa.ID })
        </td>
    </tr>
}

</table>
