@model IEnumerable<WebApplication2.Models.Viaturas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeDono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoradaDono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodPostalDono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoradaDono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodPostalDono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
